#default denied, allow regeln spezifizieren, dann Sonderdenyregeln, die elemente der allowregeln überschreiben
#https://stackoverflow.com/questions/9943042/htaccess-order-deny-allow-deny
order allow,deny

#allow smartphoneData.json
<Files smartphoneData.json>
allow from all
</Files>