#default denied, allow regeln spezifizieren, dann Sonderdenyregeln, die elemente der allowregeln überschreiben
#https://stackoverflow.com/questions/9943042/htaccess-order-deny-allow-deny
#nur cron IP zulassen
order allow,deny
allow from 195.201.26.157