#default denied, allow regeln spezifizieren, dann Sonderdenyregeln, die elemente der allowregeln überschreiben
#https://stackoverflow.com/questions/9943042/htaccess-order-deny-allow-deny
#order allow,deny
#Todo Default deny(Oben), allow from cron IP
order deny,allow

#HTTP Authorization Infos an die Scripte weitergeben
#Rewrite rule explained:
#Rewrite all requests (.*) to be the same (-) but execute flag env and last [ev=xxx,last]
#env: Set EnvironmentVariable HTTP_AUTHORIZATION to %{HTTP:Authorization} - Apache normally doesnt send %{HTTP:Authorization} to the scripts (Security)
#last: This is the last rule, wont execute any more rules
RewriteEngine on
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]