.about {
  overflow: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 0 3px rgba(0, 0, 0, 0.24);
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.accentColor {
  color: #129e41;
  font-weight: bold;
}

.about h2{
    color: #4285f4;
}