:root {
  --show-sidebar-button: #1b875b;
  --highlight-color: #4caf50;
  --bad-color: #d22a2a;
  --just-black: #263238;
  --just-white: #fff;
  --just-yellow: #f5a80b;
}

.lightmode {
  --first-color: #2f5a9a;
  --text-color: #4f5259;
  --text-color-dark: #2c2d2e;
  --border-color: #e0e0e0;
  --background-color: #fff;
  --foreground-color: #fff;
  --sidebar-background: #f4f5f7;
}

.darkmode {
  --first-color: #d6d8de;
  --text-color: #a0a0a0;
  --text-color-dark: #e7e7e7;
  --border-color: #a0a0a0;
  --background-color: #263238;
  --foreground-color: var(--background-color);
  --sidebar-background: #212c31;
}

.lightmode .sidebar {
  --text-color: var(--first-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans2", Sans-serif;
  transition: color, background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "Open Sans2";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("./fonts/open-sans-v15-latin-ext_latin-300.woff2") format("woff2"),
    url("./fonts/open-sans-v15-latin-ext_latin-300.woff") format("woff");
  font-display: swap;
}
/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans2";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("./fonts/open-sans-v15-latin-ext_latin-regular.woff2") format("woff2"),
    url("./fonts/open-sans-v15-latin-ext_latin-regular.woff") format("woff");
  font-display: swap;
}
/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: "Open Sans2";
  font-weight: 600;
  font-style: normal;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("./fonts/open-sans-v15-latin-ext_latin-600.woff2") format("woff2"),
    url("./fonts/open-sans-v15-latin-ext_latin-600.woff") format("woff");
  font-display: swap;
}
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Open Sans2";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("./fonts/open-sans-v15-latin-ext_latin-700.woff2") format("woff2"),
    url("./fonts/open-sans-v15-latin-ext_latin-700.woff") format("woff");
  font-display: swap;
}
/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: "Open Sans2";
  font-weight: 800;
  font-style: normal;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("./fonts/open-sans-v15-latin-ext_latin-800.woff2") format("woff2"),
    url("./fonts/open-sans-v15-latin-ext_latin-800.woff") format("woff");
  font-display: swap;
}

.react-head {
  display: flex;
  height: 100%;
  flex-flow: column;
  background-color: var(--background-color);
}

.sidebar {
  position: absolute;
  transform: translateX(0);
  z-index: 50;
  height: calc(100vh - 75px);
  width: 100%;
  max-width: 600px;
  background-color: var(--sidebar-background);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease;
}

.sidebar.hidden {
  transform: translateX(calc(-1 * 100vw));
}

.sidebar-fav-button {
  position: relative;
  fill: var(--border-color);
  height: 25px;
  padding: 2px;
  border: none;
  cursor: pointer;
}

.sidebar-fav-button--filled {
  fill: var(--just-yellow);
}

.sidebar-status-buttons {
  position: relative;
  display: flex;
  fill: var(--first-color);
  height: 25px;
  padding: 2px;
  border: none;
  cursor: pointer;
}

.sidebar-status-buttons:hover {
  background-color: var(--border-color);
}

.logo-text {
  font-size: 20px;
  text-decoration: none;
  color: var(--first-color);
}

.sidebar-button {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--just-white);
  background-color: var(--show-sidebar-button);
  border: none;
  height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  font-size: 16px;
  letter-spacing: 1.25px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 100;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  box-shadow: 0 0 0 rgba(44, 204, 70, 0.4);
  animation: pulse 2s infinite;
}

.img-container-container {
  perspective: 600px;
}

.img-container {
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: calc((100vh - 450px));
  margin-bottom: 16px;
  padding: 0 8px 8px;
  background-color: var(--just-white);
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: transform 1s;
  min-width: 260px;
}

.img-container--is-flipped {
  transform: rotateY(180deg);
}

@media (min-height: 1000px) {
  .img-container {
    height: calc((1000px - 450px));
  }
}

@media only screen and (min-width: 600px) {
  .sidebar {
    position: relative;
    min-width: 300px;
    max-width: 300px;
  }

  .sidebar-button {
    display: none;
  }

  .logo-text {
    font-size: 24px;
  }

  .status-button-share:focus + .clipboard-notifier {
    display: block;
    position: absolute;
  }

  /*only allow desktop devices to flip with hover*/
  .img-container-container:hover .img-container {
    transform: rotateY(180deg);
  }

  /*only allow mobile devices to flip with click*/
  .img-container--is-flipped {
    transform: rotateY(0deg);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
  }
}

.about {
  flex: 1;
  z-index: 1;
  background-color: var(--background-color);
  overflow: auto;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.accentColor {
  color: var(--highlight-color);
  font-weight: bold;
}

.about h2 {
  font-size: 22px;
}

.about h3 {
  font-size: 18px;
}

.smartphones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 75px);
  width: 100%;
  overflow: auto;
}

.smartphones-releases {
  height: calc(100vh - 75px);
  width: 100%;
  overflow: auto;
  position: relative;
}

.timeline-top-border {
  border: 1px solid var(--border-color);
  width: 16px;
  position: absolute;
  top: 0;
  left: 10px;
}

.timeline-bottom-border {
  border: 1px solid var(--border-color);
  width: 16px;
  position: absolute;
  left: 10px;
}

.smartphones-releases-container {
  min-height: 32px;
  margin-left: 16px;
  border-left: var(--border-color) 2px solid;
}

.smartphones-releases-month {
  position: relative;
  margin-bottom: 20px;
  padding-left: 32px;
  min-width: 64px;
  font-weight: 600;
  font-size: 14px;
  color: var(--first-color);
}

.smartphones-releases-month:after {
  content: " ";
  width: 128px;
  border-top: 2px solid var(--border-color);
  position: absolute;
  top: 20px;
  left: 0;
}

.smartphones-in-month {
  flex-wrap: wrap;
}

.smartphone {
  margin-left: 8px;
  margin-bottom: 96px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  box-sizing: border-box;
  padding: 6px 8px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  text-align: left;
  background-color: var(--background-color);
  align-items: flex-end;
}

.filter__summary {
  color: var(--background-color);
  outline: none;
  user-select: none;
}

.filter-drop-down {
  background-color: var(--sidebar-background);
  position: absolute;
  top: 33px;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.35), 0 0 1px rgba(27, 31, 35, 0.4);
}

.filter-drop-down__element {
  padding: 8px 16px;
  line-height: 1.2;
  vertical-align: middle;
}

.filter-drop-down__element:hover {
  background-color: rgba(184, 192, 203, 0.3);
}

.filter-drop-down__link {
  display: flex;
  text-decoration: none;
  color: var(--first-color);
  font-weight: 600;
  font-size: 15px;
}

.filter-drop-down__span {
  margin-left: 8px;
}

.header {
  background-color: var(--first-color);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.main-menu-link {
  text-decoration: none;
  color: var(--background-color);
  cursor: pointer;
  padding-left: 20px;
}

.main-menu {
  box-sizing: border-box;
  position: relative;
  padding: 4px 8px;
  margin-top: 0;

  display: flex;
  align-items: center;
}

.smartphoneCount {
  margin-right: 4px;
}

.clipboard-notifier {
  display: none;
  z-index: 10;
  padding: 2px 4px;
  top: 40px;
  right: 8px;
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.searchQuery {
  flex: 1;
}
.searchQuery input {
  width: 100%;
  border: 1px solid var(--text-color);
}

.rating {
  overflow: hidden;
}

.rating-input {
  width: 22px;
  height: 22px;
  margin: 0 0 0 -22px;
  padding: 0;
  opacity: 0;
}

radio {
  width: 22px;
  height: 22px;
  margin: 0 0 0 -22px;
  padding: 0;
  opacity: 0;
}

.filterBox {
  max-height: 250px;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 14px;
  transition: max-height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.filterBox--closed {
  max-height: 0px;
}

.filterBox p,
.filterBoxLabel {
  text-align: left;
  letter-spacing: 0;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  align-self: center;
  flex: 1 1 50px;
}

.filterBox-Header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: var(--first-color);
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  user-select: none;
}

.sidebar-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--first-color);
}

.filterBox-Header:hover {
  background: rgba(184, 192, 203, 0.3);
}

.filterBox-Header:first-child {
  border-top: none;
}

.filterBoxArrow {
  transform: rotate(180deg);
  display: blocK;
  fill: gray;
}
.filterBoxArrow--closed {
  transform: rotate(0deg);
}

.flex {
  display: flex;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderSubBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 3px;
  padding-right: 6.5px;
  margin-top: -5px;
}

.filler {
  flex: 1;
}

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="time"],
input[type="url"],
select,
button,
textarea {
  font-size: 14px;
  padding: 2px;
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 2px var(--text-color);
}

.rotate-sorting-order {
  transform: rotate(180deg);
}

.sorting_order {
  transition: transform 0.8s ease;
  align-self: center;
  fill: var(--text-color);
}

.sorting_order:hover {
  background-color: var(--border-color);
}

.sliderContainer {
  margin-bottom: 5px;
}

.rc-slider {
  width: inherit !important;
  padding: 2px !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
}

.rc-slider-rail {
  background-color: var(--border-color) !important;
}

.storageSlider {
  padding-bottom: 30px;
}

.prefix {
  color: var(--text-color);
}

.smartphone-details {
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.3;
  background-color: var(--foreground-color);
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 8px;
  border: var(--border-color) 2px solid;
  width: 260px;
}

.smartphone-price-details {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  margin-bottom: 8px;
  width: 100%;
  font-size: 14px;
  padding: 2px 0;
}

.smartphone-price-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 4px;
}

.smartphone-price-summary {
  border-bottom: 1px solid var(--border-color);
}

.smartphone-filtercriteria {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 8px;
  vertical-align: top;
  text-align: center;
  color: var(--first-color);
}

.smartphone-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smartphone-fav-star {
  fill: var(--border-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smartphone-fav-star:hover {
  fill: var(--just-yellow);
}

.smartphone-fav-star--clicked {
  fill: var(--just-yellow);
}

.fav-sidebar-counter {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--sidebar-background);
  border-radius: 100%;
  height: 18px;
  padding: 0 5px;
  left: 14px;
  top: 12px;
}

.smartphone-release {
  color: var(--text-color);
}

.smartphone-price {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 18px;
}

.smartphone-decay {
  color: var(--bad-color);
  font-weight: bold;
}

.smartphone-totalscore {
  text-align: right;
  margin-bottom: 8px;
}

.highlight-color {
  color: var(--first-color);
  font-weight: bold;
}

.qtip-img {
  position: absolute;
  vertical-align: middle;
  backface-visibility: hidden;
}

.qtip-img-backside {
  transform: rotateY(180deg);
}

.horizontalRule {
  border: none;
  border-top: 2px solid var(--border-color);
}

.batteryIcon {
  max-height: 12px;
  display: inline-block;
}

.a-icon-shop-now {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  background: 0 0;
}

.a-button {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 130px;
  height: 31px;
  cursor: pointer;
  border-radius: 3px;
}

.a-link {
  text-decoration: none;
}

.a-button-text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 29px;
  position: relative;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 2px 2px 0 29px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: var(--just-black);
  border: 0;
  background-color: transparent;
}

.a-button-input {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.01;
  border: 0;
}

.a-button-inner {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.a-button-primary .a-button-inner {
  background: linear-gradient(#f9cf6f, #f6bd42 80%, #f6bd41);
}

.a-button-primary:hover .a-button-inner {
  background: linear-gradient(#f4be48, #f3ac14);
}

.smallInput {
  width: 36px;
  text-align: right;
  border: none;
  margin: 0;
  font-weight: 600;
}

.bigInput {
  width: 60px;
  text-align: right;
  border: none;
}

.textSelect {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 2px;
}

.filterBox select {
  width: 100%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.blue-white {
  color: var(--first-color);
  background-color: transparent;
  border: transparent;
}
.toggleSwitch {
  justify-self: center;
  align-self: center;
}

.iconSwitch {
  display: flex;
  align-self: center;
}

.lbl:after {
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -2px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  transition: all 0.1s linear;
  border: 1px solid var(--first-color);
  border-radius: 100px;
  background: var(--foreground-color);
}

.lbl {
  position: relative;
  display: block;
  width: 40px;
  height: 12px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid var(--first-color);
  border-radius: 100px;
}

.cbx:checked ~ label {
  border: 1px solid var(--first-color);
  background: var(--first-color);
}

.cbx:checked ~ label:after {
  left: 26px;
  border: 1px solid var(--first-color);
  background: var(--foreground-color);
}

.cbx:disabled ~ label {
  pointer-events: none;
  background: var(--first-color);
}

.toggle-hidden {
  display: none;
}

.cbx:disabled ~ label:after {
  background: var(--first-color);
}

.multiCheckboxContainer {
  height: 200px;
  overflow-y: scroll;
}

.nightmode-switch {
  fill: var(--first-color);
}

.no-results-container {
  padding-top: 20%;
  width: 100%;
  text-align: center;
}

.no-results__header {
  color: var(--bad-color);
  font-weight: 700;
}

.no-results__description {
  color: var(--text-color);
  font-size: 14px;
}
.here-remove-filters {
  color: var(--first-color);
  font-weight: 700;
  cursor: pointer;
}
