.logo {
  box-sizing: border-box;
  font-weight: bold;
  position: relative;
  z-index: 20;
  height: 6vh;
  padding-top: 0;
  padding-left: 15%;
  text-align: left;
  background-color: #12709e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo-text {
  font-size: 43.2px;
  text-decoration: none;
  color: #fefefe;
}

.main-menu-link {
  font-weight: bold;
  text-decoration: none;
  color: #12709e;
}

.main-menu {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  height: 5vh;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #dcdcdc;
  outline-color: rgb(102, 102, 102);
  background-color: rgb(249, 249, 249);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.main-menu-text {
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  /* the same as your div height */
}

.main-menu-text ul {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-text li {
  display: inline-block;
}

.main-menu-text a {
  padding-right: 20px;
}

.navDiv {
  float: left;
}

.countryDiv {
  float: right;
}

.smartphoneCount {
  font-weight: bold;
  color: #12709e;
}
