.logo {
  box-sizing: border-box;
  font-weight: bold;
  position: relative;
  height: 29px;
  z-index: 20;
  padding-top: 3px;
  padding-left: 15%;
  text-align: left;
  background-color: #12709e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo-text {
  font-size: 20px;
  text-decoration: none;
  color: #fefefe;
}

#country {
  font-size: 14px;
}

@media only screen and (min-width: 650px) {
  .logo {
    height: 58px;
    padding-top: 8px;
  }

  .logo-text {
    font-size: 42px;
  }

  #country {
    font-size: 16px;
  }
}

.main-menu-link {
  font-weight: bold;
  text-decoration: none;
  color: #12709e;
  cursor: pointer;
  padding-right: 20px;
}

.main-menu {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  height: 25px;
  margin-top: 0;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  align-items: center;
  grid-template-columns: minmax(110px, 15%) minmax(200px, 1fr) minmax(10px, 4fr);
}

.show-sidebar-button {
  min-width: 95px;
  height: 25px;
  cursor: pointer;
  color: #12709e;
  border: 1px solid #12709e;
  font-size: 16px;
  margin-left: 5px;
}

.show-sidebar-button:hover {
  background-color: #e1e1e1;
}

.smartphoneCount {
  float: right;
  padding-right: 20px;
  font-weight: bold;
  color: #12709e;
}
