.logo {
  box-sizing: border-box;
  font-weight: bold;
  position: relative;
  height: 26px;
  z-index: 0;
  padding-bottom: 3px;
  padding-left: 15%;
  text-align: left;
  background-color: #fff;
}

.logo-text {
  font-size: 20px;
  text-decoration: none;
  color: #1976d2;
}

#country {
  font-size: 14px;
}

@media only screen and (min-width: 650px) {
  .logo {
    height: 52px;
    padding-bottom: 8px;
  }

  .logo-text {
    font-size: 42px;
  }

  #country {
    font-size: 16px;
  }
}

.main-menu-link {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding-right: 20px;
}

.main-menu {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  height: 27px;
  margin-top: 0;
  background-color: #1976d2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  grid-template-columns: minmax(110px, 15%) minmax(200px, 1fr) minmax(10px, 4fr);
}

.show-sidebar-button {
  min-width: 95px;
  height: 25px;
  cursor: pointer;
  color: #ffffff;
  background-color: #1976d2;
  border: 1px solid #1976d2;
  font-size: 16px;
  margin-left: 5px;
}

.show-sidebar-button:hover {
  background-color: #e1e1e1;
}

.smartphoneCount {
  float: right;
  padding-right: 20px;
  font-weight: bold;
  color: #ffffff;
}
