.first-rating-star {
  background-position: 0 0;
}

.rating {
  overflow: hidden;
}

.rating-input {
  width: 16px;
  height: 16px;
  margin: 0 0 0 -16px;
  padding: 0;
  opacity: 0;
}

radio {
  width: 16px;
  height: 16px;
  margin: 0 0 0 -16px;
  padding: 0;
  opacity: 0;
}

.rating-star {
  position: relative;
  display: block;
  float: right;
  width: 16px;
  height: 16px;
}

.rating-input:checked ~ .rating-star,
.rating-star:hover,
.rating-star:hover ~ .rating-star {
  background-position: 0 0;
}

.rating-input:checked ~ .rating-star,
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star {
  background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/images/star.png") 0 -16px;
}

.rating-star {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.first-rating-star {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
