.textSelect {
  color: #4285f4;
  border: 1px solid #4285f4;
  font-size: 16px;
  margin: 4px;
  border-radius: 2px;
}

.filterBox .textSelect {
  width: 95%;
}

.blue-white {
  color: #1976d2;
  background-color: transparent;
  border: transparent;
}
