.textSelect {
  color: #12709e;
  border: 1px solid #12709e;
  font-size: 16px;
}

.filterBox .textSelect {
  width: 95%;
}

.blue-white {
  color: rgb(249, 249, 249);
  border: 1px solid #12709e;
  background-color: #12709e;
}
