.toggleSwitch {
  justify-self: center;
}

.lbl:after {
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -2px;
  display: block;
  width: 28px;
  height: 28px;
  content: "";
  transition: all 0.1s linear;
  border: 1px solid #4285f4;
  border-radius: 100px;
  background: rgb(249, 249, 249);
}

.lbl {
  position: relative;
  display: block;
  width: 50px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #4285f4;
  border-radius: 100px;
}

.cbx:checked ~ label {
  border: 1px solid #4285f4;
  background: #4285f4;
}

.cbx:checked ~ label:after {
  left: 30px;
  border: 1px solid #4285f4;
  background: rgb(249, 249, 249);
}

.cbx:disabled ~ label {
  pointer-events: none;
  background: #4285f4;
}

.toggle-hidden {
  display: none;
}

.cbx:disabled ~ label:after {
  background: #4285f4;
}
